.App {
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #333;
  margin: 0;
  padding: 20px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #333;
}

span {
  color: #333;
  font-weight: bold;
}

/* =========================================================================== */
.harry-potter-characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.harry-potter-characters img {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.harry-potter-characters img:hover {
  border: 2px solid #333;
}

/* ==================================Modal======================================= */

.modal-content {
  background-color: #f2f2f2;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #333;
  width: 80%;
  max-width: 800px;
  height: 500px;
  border-radius: 5px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.modal-title {
  grid-column: 1 / 3;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.modal-image {
  grid-column: 1 / 2;
  text-align: center;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  margin-left: 15%;
}

.modal-description{
  grid-column: 2 / 3;
  text-align: left;
  font-size: 1.2rem;
  margin: 0;
  margin-top: 7%;
  margin-left: 15%;
  padding: 0;
}

.modal-close{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
  padding: 5px;
  cursor: pointer;
}

.modal-close:hover{
  background-color: #333;
  color: #f2f2f2;
}
/* ====================================NavBar======================================= */
nav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}
